ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;

  ion-input {
    margin-bottom: 16px;
  }

  ion-button {
    margin-top: 8px;
  }

  .ion-text-center {
    margin-top: 24px;
  }
}
