<ion-header>
  <ion-toolbar>
    <ion-title>Create Account</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="register()">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input
        type="email"
        [(ngModel)]="email"
        name="email"
        required
        autocomplete="email"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input
        type="password"
        [(ngModel)]="password"
        name="password"
        required
        autocomplete="new-password"
      ></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Role</ion-label>
      <ion-select [(ngModel)]="role" name="role">
        <ion-select-option value="visitor">Visitor</ion-select-option>
        <ion-select-option value="curator">Curator</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button
      expand="block"
      type="submit"
      color="primary"
      [disabled]="isSubmitting"
    >
      {{ isSubmitting ? 'Creating Account...' : 'Create Account' }}
    </ion-button>

    <div class="ion-text-center" style="margin-top: 16px;">
      <ion-text>
        Already have an account?
        <a routerLink="/login">Log in</a>
      </ion-text>
    </div>
  </form>
</ion-content>
