ion-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 24px;

  ion-input, ion-select {
    margin-bottom: 16px;
  }

  ion-button {
    margin-top: 8px;
  }

  ion-text {
    margin-top: 12px;
    text-align: center;
  }
}

ion-title {
  text-align: center;
}

ion-toolbar {
  --background: #10dc60;
  --color: white;
}
