<ion-content fullscreen class="home-bg">
  <img src="assets/img/fort-bg.jpg" alt="Background" class="background-img" />

  <div class="overlay">
    <div class="content">
      <h1 class="title">Ready to Explore<br />Cebu’s Heritage?</h1>

      <ion-button expand="block" class="main-btn" routerLink="/scan">
        Scan QR Code
      </ion-button>

      <ion-button expand="block" class="main-btn" routerLink="/map">
        Explore Map
      </ion-button>

      <ion-button expand="block" class="main-btn" routerLink="/stamp-gallery">
        Stamp Collection
      </ion-button>
    </div>
  </div>
</ion-content>
